<h1>Categories</h1>

<% @categories.each do |category| %>
<button type="button" class="btn btn-primary btn-lg btn-block"><%= link_to category.title, category_path(category) %></button>
<%= button_to("Delete", category_path(category), method: :delete) %>
<br>
<% end %>
